################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

bin/
obj/
HEIC測試/
packages/
AppPackages/
publish/
.fake
.vs/
.vscode/